nav {
  background-color: red;
  margin: 0;
  padding: 1rem;
}

h1 {
  text-align: center;
}

h1 a {
  color: white;
  text-decoration: none;
}

h1 a:hover {
  color: #aaa;
}

nav ul {
  align-items: center;
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;
  height: 3rem;
  justify-content: space-around;
}

nav li {
  display: flex;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  color: #aaa;
}
