<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Homework 2 Home</title>
  </head>
  <body>
    <nav>
      <h1><a href="/">Homework 2 Routes</a></h1>
      <ul>
        <li><a href="/froyo">Froyo</a></li>
        <li><a href="/favorites">Favorites</a></li>
        <li><a href="/secret_message">Secret Message</a></li>
        <li><a href="/calculator">Calculator</a></li>
        <li><a href="/compliments">Compliments</a></li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
